.footer-container {
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: white;
    position: absolute;
    bottom: 0%;
}
a{
  color:  white;
}
.part-2 a{
    color: #bac0c3;
}
.footer_1 {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem 8rem;
    gap: 3rem;
}

.img-bg {
    background: #1C1C1C;
    width: 154px;
    height: 83px;
    padding: 10px;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.part-1 {
    flex: 1;
}

.part-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part-1 p {
    font-size: var(--fs-s);
    font-weight: 500;
    line-height: 24px;
}

.part-2 {
    flex: 2;
    display: flex;
    width: 100%;
}

.part-22,
.part-23 {
    width: 50%;
}

.part-22 h3,
.part-23 h3 {
    font-size: var(--fs-m);
    font-weight: 700;
    margin-bottom: 1.2rem;
}

ul li {
    list-style-type: none;
}

.part-22 ul li,
.part-23 ul li {
    font-size: var(--fs-s);
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.14px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.part-22 ul li a,
.part-23 ul li a {
    text-decoration: none;
}

.part-4 {
    flex: 1;
}

.part-4 h3 {
    font-size: var(--fs-m);
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.custom_hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #00000083;
}

.footer_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    margin-bottom: 2rem;
}

.left_content {
    display: flex;
    gap: 1rem;
}

.left_content p {
    font-size: var(--fs-s);
    font-weight: 500;
}

.left_content a {
    margin-right: 1rem;
    font-size: var(--fs-s);
    font-weight: 500;
    text-decoration: none;
}

.right_content {
    display: flex;
    gap: 1rem;
}

.right_content img {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    filter: invert(100%);
}

.yt, .tw {
    padding: 3px;
    border-radius: 20%;
}

/* FOOTER ends */

/*Rocket Button*/
.rocketbtn {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(25, 25, 25, 0);
    border: none;
    transform: scale(1.7);
}

@media screen and (max-width: 767px) {
    .footer_1 {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        padding: 0;
    }
    
    .img-bg {
        width: 120px;
        height: 64px;
        margin-bottom: 1rem;
    }

    .part-1,
    .part-4 {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
    }

    .part-2 {
        margin: 0;
    }
    
    .part-22,
    .part-23 {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .part-4 {
        padding: 0em 2em 1em 2em;
    }

    .footer_2 {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
    }

    .left_content {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .right_content {
        justify-content: space-around;
        gap: 0.5rem;
        width: 100%;
    }

    .right_content img {
        width: 2rem;
        height: 2rem;
    }
}
